@use './partials/Header';
@use './partials/Footer';
@use './partials/Comics-index';
@use './partials/Comics-show';
@use './partials/Colors.scss' as color;
@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}