$primary-color: #0282F9;
$lightest-color: #FFFFFF;
$darkest-color: #1C1C1C;
$text-color: #68696A;
$comic-cover-texts-bg: #00A9D9;
$comic-title-color: #003F5E;
$comic-quick-info-bg: #55BA59;
$comic-quick-info-text: #ADF892;
$comic-quick-info-text-light: #FBFCF7;
$comic-info-bg: #F6F6F6;
$comic-info-border: #D8D8D8;